<div class="contenedor">
  <div class="titles">
    <article>
    <h1>Técnicas de estudio</h1>
    <p>
      Las técnicas de estudio son herramientas que permiten aprender de forma
      más organizada, consciente y efectiva. No se trata de estudiar más horas,
      sino de estudiar mejor. Aplicar técnicas adecuadas ayuda a comprender los
      temas, retener la información por más tiempo y reducir el estrés
      académico, especialmente en módulos exigentes como el de medicamentos
    </p>
    </article>
  </div>

  <div class="botones">
    <div class="botoncito" *ngFor="let i of listas">
      <button routerLink="/explicacion">{{ i }}</button>
    </div>
  </div>
</div>
