.question{
   background-color: #FAF1EB;
}
img{
  width: 10%;
}
button{
    background-color: transparent;
    border-color: transparent;
    color: #ff8eb4;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: #ff8eb4;
}