<div class="textOne">
  <article>
    <h1>Contáctanos</h1>
    <p>
      Este espacio está creado para escucharte. Si tienes dudas, sugerencias o
      necesitas orientación sobre el uso de la plataforma o el estudio de los
      medicamentos, puedes comunicarte con nosotras. Queremos acompañarte y ser
      un apoyo en tu proceso de aprendizaje.
    </p>
  </article>
</div>
<div class="textTwo">
  <article>
    <h1>Canales de contacto</h1>
    <li>Correo electrónico:</li>
    <li>WhatsApp:</li>
    <li>Atención:</li>
  </article>
</div>
<div class="textThree">
  <article>
    <h1>Formulario de contacto</h1>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSddhTfkYRdGIWMn
hc1YSk2d_WbuSh3rT9AtrIV2qbNi5k7dg/viewform?usp=header"
      >Ir a Formulario</a
    >
  </article>
</div>

<div class="textFour">
  <article>
    <h1>Recuerda:</h1>
    <p>
      Aprender también es cuidarse. No estás solo en este proceso, y estamos
      aquí para apoyarte en tu formación académica.
    </p>
  </article>
  <img src="../../../assets/imagenes/nurse.png" alt="" />
</div>
