@font-face {
    font-family: titulo;
    src: url(../../../assets/fonts/Trendy.ttf);
}
h1{
    font-family: 'titulo';
    color: white;
    font-size: x-large;
}
ol{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
li{
    color: #FFFFFF;
    background-color: #FAD9E4;
    border-radius: 10px;
    width: 100%;
    font-family: 'titulo';
    font-size: larger;
    font-weight: 400;
    height: 15%;
}
.contenedor{
    display: flex;
    justify-content: center;
    height: 90%;
    align-items: center;
    flex-direction: column;
    background-color: #FAF1EB;
}

.card{
    width: 37%;
    height: 80%;
    background-color: #F5CC99;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
border-radius: 20px;
margin-top: 5%;
}
.text{
background-color: #FAF1EB;
color: #FF8EB4;
height: 30%;
display: flex;
justify-content: center;
}
article{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 80%;
 justify-content: center;
}