<div class="contenedor">
  <div class="card">
    <h1>Acetaminofen</h1>
    <ol>
      <li>Indicacion:</li>
      <li>Tiempo de infusion:</li>
      <li>Vía/dilucion:</li>
      <li>Efecto secundario</li>
      <li>Efecto adverso:</li>
    </ol>
  </div>

  <div class="text">
    <article>
      <h1>Dato útil: </h1>
      <p>
        Utilizado para el manejo del dolor leve a
        moderado y la fiebre. Actúa principalmente a nivel
        del sistema nervioso central y se caracteriza por
        no tener un efecto antiinflamatorio significativo.
      </p>
    </article>
    <img src="../../../assets/imagenes/nurse.png" alt="" />
  </div>
</div>
