<div class="contenedor">
    <div class="titulo">
        <h1>Grupos de medicamentos </h1>
    </div>
    <div class="orden">
    <div class="cuadros" *ngFor="let item of titles">
        <button routerLink="/trocillos">
            {{item}}
        </button>
    </div>
    </div>
      <div class="textFour">
    <img src="../../../assets/imagenes/nurse.png" alt="" />
  <article>
    <h2>Recuerda:</h2>
    <p>
     Aprender los medicamentos no es
    memorizar por memorizar, es comprender
    para cuidar mejor.
    </p>
  </article>
</div>
</div>
