  <div class="textOne">
    <article>
    <h2>Definición de Medicamento:</h2>
    <p>
      Son preparados farmacéuticos elaborados a partir de principios activos
      (con o sin sustancias auxiliares) y presentados bajo una forma
      farmacéutica específica.
    </p>
    </article>
  </div>
  <div class="textTwo">
    <article>
    <h2>Componentes Clave:</h2>
    <p>
      Principio Activo: Sustancia química responsable de la actividad
      farmacológica y del efecto terapéutico. Excipiente: Conjunto de sustancias
      que acompañan al principio activo para facilitar su administración,
      liberación y absorción. Objetivos Terapéuticos: Los medicamentos se
      utilizan para diagnosticar, prevenir, curar, aliviar o controlar
      enfermedades.
    </p>
    </article>
  </div>
  <div class="textThree">
    <article>
    <h2>También puedes encontrar más información sobre esto en:</h2>
    <p>
      https://www.sefh.es/escuela-de-pacientes-conoce-tus
      medicamentos-detalle.php?mdl=1&tm=2
    </p>
    </article>
  </div>
