  <div class="textoOne">
    <article>
    <h2>¿Qué es la lectura comprensiva?</h2>
    <p>
      La lectura comprensiva es una técnica de estudio que consiste en leer con
      atención, entendiendo el significado del texto, identificando las ideas
      principales y relacionando la información con conocimientos previos. No se
      trata solo de leer palabras, sino de comprender, analizar y retener la
      información para poder aplicarla.
    </p>        
    </article>
  </div>
  <div class="textoTwo">
    <article>
    <h2>¿Por qué es importante?</h2>
    <p>
      La lectura comprensiva permite: Entender realmente los contenidos
      académicos Evitar la memorización mecánica Reducir el tiempo de estudio
      Mejorar el rendimiento académico Aplicar el conocimiento en contextos
      prácticos, como el área de la salud
    </p>
    </article>
  </div>
  <div class="textoThree">
    <article>
    <h2>¿Cómo aplicar la lectura comprensiva?</h2>
    <p>
      Leer el texto completo sin subrayar Identificar ideas principales Buscar
      el significado de términos desconocidos Relacionar la información con
      ejemplos clínicos Explicar con tus propias palabras lo leído
    </p>
    </article>
  </div>

  <div class="textFour">
    <img src="../../../assets/imagenes/nurse.png" alt="" />
  <article>
    <h2>Recuerda:</h2>
    <p>
      No se trata de leer más,
      sino de entender mejor.
    </p>
  </article>
</div>

