@font-face {
    font-family: subtitulo;
    src: url(../../../assets/fonts/Bright.otf);
}
h2{
    font-family: 'subtitulo';
    color: white;
}
.textoOne{
background-color: #F9C3D0;
color: white;
height: 30%;
display: flex;
justify-content: center;
}
.textoTwo{
background-color: #F5CC99;
color: white;
height: 30%;
display: flex;
justify-content: center;
}
.textoThree{
background-color: #FAD9E4;
color: white;
height: 30%;
display: flex;
justify-content: center;
}
.textFour{
background-color: #FAF1EB;
color: #FF8EB4;
height: 30%;
display: flex;
justify-content: center;
}

article{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 80%;
 justify-content: center;
}