<div class="textOne">
  <article>
    <h2>¿Quiénes somos?</h2>
    <p>
      Somos Sofía Tapasco, María Isabel Román y Juliana Largo, pertenecemos al
      grupo 47. Este proyecto nace desde nuestra propia experiencia como
      estudiantes del área de la salud, al reconocer las dificultades reales que
      enfrentan muchos compañeros durante el módulo de medicamentos. Sabemos que
      este módulo suele ser uno de los más complejos y exigentes, ya que implica
      comprender, memorizar y aplicar información sobre una gran cantidad de
      medicamentos. En muchos casos, esto genera estrés académico, bajo
      rendimiento e incluso la pérdida del módulo. Por esta razón, decidimos
      crear esta plataforma como una herramienta de apoyo para los nuevos
      estudiantes, con el objetivo de facilitar el estudio, organizar la
      información y reducir la carga académica. Queremos que aprender sobre
      medicamentos sea un proceso más claro, accesible y menos abrumador,
      promoviendo no solo el conocimiento, sino también el autocuidado durante
      el estudio.
    </p>
  </article>
</div>
<div class="textTwo">
  <article>
    <h2>Nuestra misión</h2>
    <p>
      Brindar apoyo académico a estudiantes del área de la salud mediante una
      plataforma educativa que facilite el aprendizaje de los medicamentos,
      promoviendo el estudio organizado, consciente y enfocado en el bienestar
      del estudiante.
    </p>
  </article>
</div>
<div class="textThree">
  <article>
    <h2>Nuestra visión</h2>
    <p>
      Convertirnos en un apoyo significativo para los estudiantes que inician su
      formación en salud, ofreciendo un espacio educativo que contribuya a
      mejorar el rendimiento académico y disminuir el estrés asociado al estudio
      de la farmacología.
    </p>
  </article>
</div>
